{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 p-3">
            
            <h1 class="display-4">Suscribirse a una Fundación</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <table class="table table-hover">
                    {{ formulario|crispy }}
                </table>
                <div class="container flex-wrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary" value="Suscribirse">
                        </div>
                    </div>
                </div>
                {{ mensaje }}
            </form>
<!--Tabla de subscripciones-->
            <table class="table">
                <thead>
                    <tr>
                        <th>Fundacion</th>
                        <th>Monto Subcripcion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aux in tabla %}
                    {% if request.user == aux.usuario %}
                    <div>
                        <tr>
                            <td>{{ aux.fundacion }}</td>
                            <td>{{ aux.fundacion.monto_sub }}</td>
                            <td>
                                {% if perms.app.delete_subscripcion %}
                                <a href="{% url 'eliminar_sub' aux.id %}" class="btn btn-danger">Desuscribirse</a>
                                {% endif %}
                            </td>
                        </tr>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% else %}
 <p>No estas logueado</p>
{% endif %}

{% endblock %}